{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <!-- Click anywhere on the table row to check it-->
    <script type="text/javascript">
        function selectRow(row)
        {
            var firstInput = row.getElementsByTagName('input')[0];
            firstInput.checked = !firstInput.checked;
        }
    </script>

    <h1>Current Tasks</h1>

    <!-- Alert -->
    {% if no_task == True %}
    <div class="alert alert-warning d-flex align-items-center" role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
            <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
            </symbol>
        </svg>
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
        <div>Please select task(s) to complete</div>
    </div>
    {% endif %}

    <!-- Table Display -->
    <form id="checkbox" action="/" method="post">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Task</th>
                    <th scope="col">Date and Time Created</th>
                </tr>
            </thead>
            <tbody>
                {% if count == 0 %}
                    <tr>
                        <td class="invisible">This is invisible</td>
                        <td class="invisible">This is invisible</td>
                    </tr>
                {% endif %}
                {% for i in range(count) %}
                    <tr onclick="selectRow(this)">
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="{{ task_id[i][0] }}" id="check-{{ [i] }}" name="task" autocomplete="off">
                                <label class="form-check-label" for="check-{{ [i] }}">
                                    {{ task[i][0] }}
                                </label>
                            </div>                  
                        </td>
                        <td>
                            <label class="form-check-label" for="check-{{ [i] }}">
                                {{ date_created[i][0] }}
                            </label>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <button class="btn btn-primary" type="submit">Complete Task(s)</button>
    </form>
{% endblock %}