{% extends "layout.html" %}

{% block title %}
    Shakespeare
{% endblock %}

{% block main %}
<h1>To Do or Not To Do</h1>
<div class="card text-center">
    <div class="card-body">
        <p class="card-text">
            The game of love, we intimately know—
            <br>
            its laws and maxims, mastered by our hearts;
            <br>
            thus, I propose to be thine only beau
            <br>
            with passion that no other could impart.
            <br>
            These feelings weighing heavy in my breast
            <br>
            should in thy soul be similarly sown;
            <br>
            and now they all are earnestly express'd
            <br>
            so that my vows are understood and known:
            <br>
            O, never shall I vacate from thy side,
            <br>
            nor shall I disappoint thee hence,
            <br>
            nor will the day approach that wounded pride
            <br>
            shall rise from some unfaithful dalliance.
            <br>
            — My actions leave thy face unstained by tears
            <br>
            and ledgers of my lies shall remain clear.
        </p>
        <p class="invisible">
            Get rickrolled
        </p>
        <footer class="blockquote-footer"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">R.A.</a></footer>
    </div>
{% endblock %}